html {
  font-size: 10px;
}

html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header,
main {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
}
header {
  height: 7.5rem;
}
main {
  margin-bottom: 8rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  width: 50rem;
}
li {
  margin: 1.5rem 0;
}
li > div {
  margin: 1rem;
}
li > textarea {
  width: 49.5rem;
  height: 10rem;
  padding: 0.5rem;
}
button {
  padding: 1rem 2rem;
  font-size: 2.5rem;
}
